/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

.emblema-one-regular {
	font-family: "Emblema One", system-ui;
	font-weight: 400;
	font-style: normal;
  }

  .alfa-slab-one-regular {
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
  }
  

.resume-header h1 {
	font-family: "Emblema One" "emblema-one-regular", sans-serif;
	font-size: 3em;
	font-weight: 700;
	color: #864769;
}

.tagline {
	font-family: "Emblema One" "emblema-one-regular", sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	color: #b96f96;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #eecdde;
}

.resume-main {
	background-color: #fdf9fb;
}

.resume-aside h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: #96b391;
}

.resume-aside {
	background-color: #e4f6e1;
}
	

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}


.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
